.choice{
    border: 1px solid rgb(0, 132, 255);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    
    
}

.head{
    
    background-image: url("../images/light.jpeg");
    background-size: cover;
    text-align: center;
    font-size: 100px
    
    
    
}


body{
    background-image: url("../images/galaxy-computer-backgrounds-9.jpg");
    background-size:cover;
    
    

}

h2{
    color:rgb(0, 255, 179);
    
}

h1{
    color:rgb(107, 0, 128);
    font-size: 90px;
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
    
    
}
 h4{
     color:rgb(255, 0, 255);
     font-family: 'XoloniumRegular';
     font-weight: normal;
     font-style: normal;
  }
    
 

.preload-image{
    color: rgb(225, 0, 255);
    font-family: 'SpaceMeatballRegular';
    font-weight: normal;
    font-style: normal;
}
    

.btn-primary{
    Background-color:rgb(60, 0, 128);
}

div{
    color: rgb(0, 255, 255);
    
}

p{
    color:rgba(102, 255, 0, 0.904);
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
    
}

.quizQuestions{
    color: rgb(225, 0, 255);
    font-family: 'SpaceMeatballRegular';
    font-weight: normal;
    font-style: normal;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(162, 0, 255);
    color: white;
    text-align: center;
  }