.choice{
    border: 1px solid rgb(0, 132, 255);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.jumbtron{
    margin-top:20px;
    background-image: url("assets/images/images.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-size:20px
}

body{
    background-image: url("../images/space.jpg");
    background-size:cover;
    

}

h2{
    color:rgb(0, 255, 179);
}

h1{
    color:rgb(107, 0, 128);
}



